# Python
__pycache__/
*.py[cod]
*$py.class

# Sieć środowiskowa
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Środowisko IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
